<ng-template #loadingSpinner>
  <div class="loading-container">
    <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
  </div>
</ng-template>
<div class="content" *ngIf="!loading; else loadingSpinner">
  <h1>{{ contact | userDisplayName }}</h1>
  <form #form="ngForm">
    <div *ngIf="error" class="error">{{ error }}</div>
    <div class="form-content">
      <app-modal-form-group>
        <mat-form-field>
          <input matInput [(ngModel)]="contact.firstName" placeholder="First Name" name="firstName" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="contact.lastName" placeholder="Last Name" name="lastName" required>
        </mat-form-field>
      </app-modal-form-group>
      <app-modal-form-group>
        <mat-form-field [style.width.%]="100">
          <input matInput [matDatepicker]="picker" [(ngModel)]="contact.birthday" placeholder="Birthday" name="birthday"
            required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </app-modal-form-group>
      <app-modal-form-group>
        <mat-form-field [style.width.%]="100">
          <input matInput [(ngModel)]="contact.advisor" placeholder="Advisor" name="advisor" required>
        </mat-form-field>
      </app-modal-form-group>
      <app-modal-form-group>
        <mat-form-field [style.width.%]="100">
          <input matInput [(ngModel)]="contact.address.street" placeholder="Street Address" name="address.street"
            required>
        </mat-form-field>
      </app-modal-form-group>
      <app-modal-form-group>
        <mat-form-field>
          <input matInput [(ngModel)]="contact.address.city" placeholder="City" name="address.city" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="contact.address.state" placeholder="State" name="address.state" required>
        </mat-form-field>
      </app-modal-form-group>
      <mat-form-field [style.width.%]="100">
        <input matInput [(ngModel)]="contact.address.postalCode" placeholder="Zip" name="address.postalCode" required>
      </mat-form-field>
    </div>
    <div class="actions">
      <button *ngIf="form.touched" mat-flat-button color="primary" (click)="onSubmit()">Save</button>
    </div>
  </form>
</div>