.container {
  padding: 60px 40px;
}

.row {
  display: flex;
  flex-direction: row;
}

.greeting {
  margin-bottom: 3rem;
}

mat-grid-list {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}